<div class="side-nav">
	<h3>get the book</h3>
	<a href="https://ieeexplore.ieee.org/book/9965970" target="_blank" rel="noopener"><img class="size-full wp-image-351" align="left" style="margin-left: 0px; margin-right: 4px;" title="Book Cover Image: An Introduction to Audio Content Analysis" src="img/cover_aca2_thumb.jpg" alt="Book Cover Image: An Introduction to Audio Content Analysis" width="65" height="102" /></a> 
	<a href="https://ieeexplore.ieee.org/book/9965970" target="IEEE">@ IEEE</a>
	<br />
	<a href="https://www.wiley.com/en-us/An+Introduction+to+Audio+Content+Analysis%3A+Music+Information+Retrieval+Tasks+and+Applications%2C+2nd+Edition-p-9781119890942" target="WILEY">@ Wiley</a>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	<h3>get the code</h3>
	<a href="https://www.github.com/alexanderlerch/ACA-Code">matlab</a>
	<br />
	<a href="https://www.github.com/alexanderlerch/pyACA">python</a>
	<br />
	<a href="https://www.github.com/alexanderlerch/libACA">C++</a>

	<h3>get the slides</h3>
	<a href="https://www.github.com/alexanderlerch/ACA-Slides">pdf (latex)</a>

	<h3>get the plots</h3>
	<a href="https://www.github.com/alexanderlerch/ACA-Plots">matlab</a>

	<h3>get in touch</h3>
	<a href="https://github.com/alexanderlerch">alexander lerch</a>

	<h3>support this resource</h3>
	<a href="https://www.buymeacoffee.com/alexanderlerch" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/arial-blue.png" alt="Buy Me A Coffee" style="height: 30px !important;width: 113px !important;" ></a>
</div>

