a.active {
  color: #111;
}

.main-nav
{
    margin: 0 auto;

	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: $header-bg-color;
	  position: fixed;
	  top: 0;
	  width: 100%;
      border-bottom: solid 1px $hr-border-color;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 14px 14px;
	  text-decoration: none;
	  font-size: 12px;
	}

	li a:hover {
	  background-color: #111;
	}
}

.content{
  margin-right: 150px;
  clear: both;
  overflow: auto;
  min-height: 600px;
  height: 100%;
}

.side-nav {
  position: relative;
  width: 150px;
  margin-left: -150px;
  float: right;
  overflow: hidden;
  background-color: transparent;
  color: $body-text-color;
  min-height: 600px;
  padding: 0em 0em 0em 2em;
  font-size: 0.6rem;
  font-weight: normal;

  h3 {
    padding: 0em;
    margin-top: 0em;
	margin-bottom: -1em ;
    font-weight: normal;
    color: #666;
    font-size: 0.8rem;
  }
  
  p {
    padding: 0em;
	margin-top: 0em ;
	margin-bottom: 1.5em ;
  }
}

.wrapper {
  margin: 0 auto;
  position: relative;
  padding: 1rem 1rem;
  min-height: 600px;
  height: 100%;
}

.content-wrapper {
  float: left;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: #{$medium-breakpoint}) {
  .side-nav {
    display: none;
  }
  .content {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    padding: 0em 0em 0em 0em;
  }
}

